@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

	.swal2-container {
	  z-index: 2000; 
	}

	html, body, header, footer, section, nav, div, h1, h2, h3, h4, h5, h6, a, i, ul, li, p, span, img{
		margin:0;
		padding:0;
	}
	body{
		font-family:"Nanum Gothic", "Noto Sans";
	}
	a{
		text-decoration:none;
	}
	ul{
		list-style:none;
		display:inline-block;
	}
	ul li{
		display:inline-block;
	} 
	#container{										
		width:100%;
		margin: 0 auto;
	}
	.content{
		width:1200px;
		margin:0 auto;	
	}

/*header*/
	header{
		width:100%;
		position:fixed;
		z-index:5;
	}
	.nav_open, .nav_close{
		display:none;
	}
	.logo_a:hover:after{
		width:0;
	}
	nav{
		background-color:#fff;
		height:135px;
		width:100%;
		box-shadow: 4px 4px 4px rgba(85, 85, 85, 0.2);
		transition: all .2s;
	}
	nav a{
		color:#444;
	}
	nav a:after {
		content: '';
		display: block;
		width: 0%;
		height: 3px;
		background-color: #3498db;
		margin-top: -8px;
	}
	nav a:hover:after {
		width: 100%;
		transition: all .5s;
	}
	.sub-nav>li:last-child>a:hover:after {
		width: 0%;
	}
	.shrink{
		height:110px;
	}
	.logo{
		padding-top:10px;
	}
	.logo li img{
		width :105px;
	}
	.logo2{
		padding-top:15px;
	}
	.logo2 li img{
		width :105px;
		display:none;
	}
	.main-nav{
        float:right;
		margin-right:20px;
		margin-top:15px;
		height:50px;
		line-height:50px;
	}
	.main-nav li{
		padding-left:20px;
		font-size:1rem;
		font-weight:bold;
	}
	.sub-nav{
		float:right;
		margin-top:-69px;
		margin-right:20px;
		height:50px;
		line-height:50px;
	}
	.sub-nav li{
		padding-left:30px;
		font-weight:bold;   
		font-size:1.15rem;
		position:relative;
	}
	.sub-nav li div{
		display:block;
	}
	.sub-nav-sub{
		display:none;
		position:absolute;
		background-color:#3498db;
		border-radius:5px;
		border-top-left-radius:15px;
		border-top-right-radius:15px;
		width:90px;
		margin-left:-20px;
		
        padding:10px 10px;
	}
	.sub-nav-sub li{
		display:block;
		padding-left:0px;
	}
	.sub-nav-sub li a {
		display:block;
		font-size:0.95rem;
		text-align:center;
		color:#fff;
		line-height:45px;
   }
   .sub-nav-sub li a:after{
      content:'';
      display:block;
      width:0%;
      height:3px;
      background-color: #fff;
      margin-bottom:-3px;
   }
	.sub-nav-sub li a:hover {
		font-size:1.05rem;
		color:#fff;
		transition: all .5s;
	}
    .sub-nav-sub li a:hover:after{
 		width:100%;
        transition: all .8s;
    }
    .header_space{
		height:280px;
	}
	.m_mypage{
		display:none;
	}
    
/* footer */
	footer{
		margin-top:150px;
		height:350px;
		background-color:#444;
		color:#ddd;
	}
	footer ul{
		display:flex;
		justify-content: space-between;
		padding:125px 0 10px;
	}
	footer ul li{
		font-size:0.9rem;
		padding:0 10px;		
	}
	footer ul li a{
		color:#ddd;
	}
	footer ul li:nth-child(1){
		font-weight:bold;
	}
	footer ul li i{
		font-size:1.9rem;
		padding:0 5px;
		margin-top:-8px;
		cursor:pointer;
	}
	footer hr{
		border-color:#aaa;
		margin-top:0px;
	}
	footer p{
		font-size:0.8rem;
		padding:3px 10px;
	}
	
@media screen and (max-width:768px) {
	.content{
		width:95%;
		margin:0 2.5%;	
	}

/*header*/
	header{
		width:100%;
		position:fixed;
		z-index:5;
	}
	.logo_a:hover:after{
		display: none;
	}
	.nav_open{
		display:block;
		width:100%;
		background-color:#fff;
		height:50px;
		position:fixed;
		bottom:0;
		border-top:1px solid #3498db;
		z-index:5;
	}
	.nav_open div{
		display:flex;
		justify-content:space-between;
	}
	.nav_open div a{
		text-align:center;
		width:100%;
	}
	.nav_open i{
		font-size:1.6rem;
		color:#777;
		line-height:50px;
	}
	.nav_close i{
		color:#fff;
		right:18px;
		font-size:2.3rem;
		top:11px;
		position:fixed;
		z-index:6;
	}
	nav{
		background-color:#3498dbde;
		height:100vh;
		width:100%;
		box-shadow: none;
		transition: all .2s;
		display:none;
	}
	nav .content{
		padding:0 30px;
		box-sizing:border-box;
	}
	nav a{
		color:#fff !important;
	}
	nav a:after {
		content: '';
		display: block;
		width: 0%;
		height: 3px;
		background-color: #3498db;
		margin-top: -8px;
	}
	nav a:hover:after {
		width: 0%;
		transition: all .5s;
	}
	.sub-nav>li:last-child>a:hover:after {
		width: 0%;
	}
	.shrink{
		height:110px;
	}
	.logo{
		padding-top:10px;
		display:none;
	}
	.logo li img{
		width :105px;
	}
	.logo2{
		padding-top:15px;
	}
	.logo2 li img{
		width :105px;
		display:none;
	}
	.main-nav{
		display:none;
        float:right;
		margin-right:20px;
		margin-top:15px;
		height:50px;
		line-height:50px;
	}
	.main-nav li{
		padding-left:20px;
		font-size:1rem;
		font-weight:bold;
	}
	.sub-nav{
		float:none;
		margin-top:65px;
		margin-right:0px;
		height:60px;
		line-height:60px;
		width:100%;
	}
	.sub-nav li{
		box-sizing:border-box;
		padding-left:10px;
		font-weight:bold;   
		font-size:1.3rem;
		position:relative;
		display:block;
		width:100%;
	}
	.sub-nav li div{
		display:block;
	}
	.sub-nav-sub{
		display:none;
		position:absolute;
		border-top:1px solid #fff;
		background-color: transparent;
		border-radius:5px;
		border-top-left-radius:0px;
		border-top-right-radius:0px;
		width:100%;
		margin-left:-10px;
        padding:0px 0px;
	}
	.sub-nav-sub li{
		display:block;
		padding-left:0px;
	}
	.sub-nav-sub li a {
		display:block;
		font-size:1.1rem;
		text-align:left;
		color:#fff;
		line-height:50px;
		padding-left:25px;
   }
   .sub-nav-sub li a:after{
      content:'';
      display:block;
      width:0%;
      height:3px;
      background-color: #fff;
      margin-bottom:-3px;
   }
	.sub-nav-sub li a:hover {
		font-size:1.05rem;
		color:#fff;
		transition: all .5s;
	}
    .sub-nav-sub li a:hover:after{
 		width:100%;
        transition: all .8s;
    }
    .header_space{
		height:50px;
	}
	.m_mypage{
		background-color:#e1e4e4;
		height:100vh;
		width:100%;
	}
	.m_mypage .m_mypage_title{
		height:60px;
		text-align:center;
		background-color:#fff;
	}
	.m_mypage .m_mypage_title img{
		position : absolute;
        height:70px;
        top:0;
        left:3%;
	}
	.m_mypage .m_mypage_title h3{
		display:inline-block;
		line-height:60px;
		letter-spacing:2px;
	}
    .m_mypage .m_mypage_nav ul{
    	display:flex;
    	justify-content:space-between;
    	background-color:#3498db;
    	line-height:90px;
    }
    .m_mypage .m_mypage_nav ul li{
    	color:#fff;
    	padding:0 20px;
    }
    .m_mypage .m_mypage_nav ul li a{
        color:#fff;
    }
    .m_mypage .m_mypage_nav2 ul{
    	margin-top:5px;
    	background-color:#fff;
    	display:block;
    }
    .m_mypage .m_mypage_nav2 ul li{
    	display:block;
    	line-height:43px;
    	padding-left:20px;
    	border-top:1px solid #e1e4e4;
    	font-size:0.95rem;
    }
    .m_mypage .m_mypage_nav2 ul li a{
    	color:#444
    }
    .m_mypage .m_mypage_nav2 ul li span{
    	float:right;
    	margin-right:20px;
    	font-size:0.7rem;
    }
    .ick_color{
    	color:#3498db !important;
    }
/* footer */
	footer{
		margin-top:80px;
		height:300px;
		background-color:#444;
		color:#ddd;
	}
	footer ul{
		display:flex;
		justify-content: space-between;
		padding:65px 0 10px;
	}
	footer ul li{
		font-size:0.9rem;
		padding:0 10px;		
	}
	footer ul li a{
		color:#ddd;
	}
	footer ul li:nth-child(1){
		font-weight:bold;
	}
	footer ul li i{
		font-size:1.9rem;
		padding:0 5px;
		margin-top:-8px;
		cursor:pointer;
	}
	footer hr{
		border-color:#aaa;
		margin-top:0px;
	}
	footer p{
		font-size:0.7rem;
		padding:3px 10px;
	}
}