<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.Admin_C_M_Mapper">

	<resultMap type="java.util.HashMap" id="hashmapVO">
		<result property="member_id" column="member_id"/>
		<result property="coupon_name" column="coupon_name"/>
		<result property="coupon_start" column="coupon_start"/>
		<result property="coupon_end" column="coupon_end"/>
		<result property="coupon_useday" column="coupon_useday"/>
		<result property="coupon_use" column="coupon_use"/>
		<result property="coupon_seq" column="coupon_seq"/>
	</resultMap>
	
   <resultMap type="com.spring.member.CouponVO" id="CouponResultMap">
		<result property="member_id" column="member_id"/>
		<result property="coupon_name" column="coupon_name"/>
		<result property="coupon_start" column="coupon_start"/>
		<result property="coupon_end" column="coupon_end"/>
		<result property="coupon_useday" column="coupon_useday"/>
		<result property="coupon_use" column="coupon_use"/>
		<result property="coupon_seq" column="coupon_seq"/>
   </resultMap>
   
   <resultMap type="com.spring.member.MileageVO" id="MileageResultMap">
   		<result property="member_id" column="member_id"/>
   		<result property="mile_date" column="mile_date"/>
   		<result property="mile_price" column="mile_price"/>
   		<result property="mile_content" column="mile_content"/>
   		<result property="mile_seq" column="mile_seq"/>
   </resultMap>
   
   <resultMap type="java.util.HashMap" id="hashmapVO2">
   		<result property="member_id" column="member_id"/>
   		<result property="mile_date" column="mile_date"/>
   		<result property="mile_price" column="mile_price"/>
   		<result property="mile_content" column="mile_content"/>
   		<result property="mile_seq" column="mile_seq"/>
   </resultMap>
	
	<!-- 쿠폰 시작 -->
	<select id="Admin_CouponList" resultMap="hashmapVO">
		select  member_id, coupon_name, coupon_start, coupon_end, coupon_useday, coupon_use, coupon_seq from
			(select  a.coupon_name, b.member_id, TO_CHAR(a.coupon_start, 'YYYY-MM-DD') as coupon_start, TO_CHAR(a.coupon_end, 'YYYY-MM-DD') as coupon_end, TO_CHAR(a.coupon_useday, 'YYYY-MM-DD') as coupon_useday, a.coupon_use, a.coupon_seq
				from member b
				join coupon a
				on a.member_id = b.member_id
				where a.coupon_seq > 0
				order by a.coupon_seq desc)
	</select>
	
	<select id="getCouponCount" resultType="int">
		select count(*) from coupon
	</select>
	
	<select id="couponSerach" parameterType="java.util.HashMap" resultMap="hashmapVO">
		select * from  
		(select a.coupon_name, b.member_id, TO_CHAR(a.coupon_start, 'YYYY-MM-DD') as coupon_start, TO_CHAR(a.coupon_end, 'YYYY-MM-DD') as coupon_end, TO_CHAR(a.coupon_useday, 'YYYY-MM-DD') as coupon_useday, a.coupon_use, a.coupon_seq
			from member b
			join coupon a
			on a.member_id = b.member_id
			where a.coupon_seq > 0
			<if test = "keyword != null">
				and (a.member_id like '%'||#{keyword, jdbcType=VARCHAR}||'%')
			</if>
			order by a.coupon_seq desc)
	</select>
	
	<update id="updateCoupon" parameterType="com.spring.member.CouponVO">
		update coupon set coupon_name = #{coupon_name}, coupon_end = TO_DATE(#{coupon_end}, 'YYYY-MM-DD'), coupon_use = #{coupon_use} where coupon_seq=#{coupon_seq}
	</update>
	
	<insert id="insertCoupon" parameterType = "com.spring.member.MemberVO">
		insert into coupon(member_id, coupon_name, coupon_start, coupon_end, coupon_use, coupon_seq) 
		values(#{member_id}, #{coupon_name}, sysdate, sysdate+120, '0', coupon_seq.nextval)
	</insert>
	
	<delete id="deleteCoupon" parameterType="int">
		delete from coupon where coupon_seq = #{coupon_seq}
	</delete>
	<!-- 쿠폰 끝 -->
	
	
	
	
	
	<!-- 마일리지 -->
	<select id="Admin_MileList" resultMap="hashmapVO2">
		select member_id, mile_date, mile_price, mile_content, mile_seq from
			(select b.member_id, TO_CHAR(a.mile_date, 'YYYY-MM-DD') as mile_date, a.mile_content, a.mile_price, a.mile_seq
				from member b
				join mileage a
				on a.member_id = b.member_id
				where a.mile_seq > 0
				order by a.mile_seq desc)
	</select>
	
	<select id="getMileCount" resultType="int">
		select count(*) from mileage
	</select>
	
	<select id="mileSerach" parameterType="java.util.HashMap" resultMap="hashmapVO2">
		select * from 
		(select a.mile_content, b.member_id, TO_CHAR(a.mile_date, 'YYYY-MM-DD') as mile_date, a.mile_price, a.mile_seq
			from member b
			join mileage a
			on a.member_id = b.member_id
			where a.mile_seq > 0
			<if test = "keyword != null">
				and (a.member_id like '%'||#{keyword, jdbcType=VARCHAR}||'%')
			</if>
			order by a.mile_seq desc)
	</select>
	
	<update id="updateMileage" parameterType="com.spring.member.MileageVO">
		update mileage set mile_price = #{mile_price}, mile_content = #{mile_content} where mile_seq = #{mile_seq}
	</update>
	
	<insert id="insertMileage" parameterType="com.spring.member.MileageVO">
		insert into mileage(member_id, mile_date, mile_price, mile_content, mile_seq)
		values(#{member_id}, sysdate, #{mile_price}, #{mile_content}, mile_seq.nextval)	
	</insert>	
	
	<delete id="deleteMileage" parameterType="int">
		delete from mileage where mile_seq = #{mile_seq}
	</delete>
	
</mapper>