<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.CouponMapper">

	<resultMap type="com.spring.member.CouponVO" id="CouponResultMap">
		<result property="member_id" column="member_id" />
		<result property="coupon_name" column="coupon_name" />
		<result property="coupon_start" column="coupon_start" />
		<result property="coupon_end" column="coupon_end" />
		<result property="coupon_useday" column="coupon_useday" />
		<result property="coupon_use" column="coupon_use" />
		<result property="coupon_seq" column="coupon_seq" />
	</resultMap>
	
	<!--쿠폰 리스트 -->
	<select id = "getCouponList" parameterType = "String" resultMap = "CouponResultMap">
		select * from coupon where member_id = #{member_id}
	</select>

	<!--사용 가능 쿠폰 리스트 -->
	<select id = "getAbleCouponList" parameterType = "String" resultMap = "CouponResultMap">
		select * from coupon where member_id = #{member_id} and coupon_use = 0
	</select>
	
	<!-- 쿠폰 갯수 -->
	<select id="getCouponCount" parameterType="String" resultType="int">
		select count(*) from coupon where member_id = #{member_id}
	</select>
	
	<!-- 쿠폰 사용 -->
	<update id="useCoupon" parameterType = "int">
		update coupon set coupon_useday = sysdate, coupon_use = 1 where coupon_seq = #{coupon_seq}
	</update>
	
	
</mapper>