<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.FaqMapper">
	<resultMap type="com.spring.community.FaqVO" id="faqMap">
		<result property="faq_num" column="faq_num"/>
		<result property="faq_cate" column="faq_cate"/>
		<result property="faq_title" column="faq_title"/>
		<result property="faq_content" column="faq_content"/>
		<result property="faq_date" column="faq_date"/>			
	</resultMap>

	<select id="getFaqList" parameterType="com.spring.community.FaqVO" resultType="com.spring.community.FaqVO">
		select * from FAQ order by faq_num asc		
	</select>
		
	<select id="getMaxNum" resultType="int">
		select max(faq_num) from faq
	</select>
	
	<insert id="faqInsert" parameterType="com.spring.community.FaqVO">
		insert into faq values 
		(
		#{faq_num}, 
		#{faq_cate}, 
		#{faq_title},
		#{faq_content},		
		sysdate
		)		
	</insert>
	
	<update id="faqModify" parameterType="com.spring.community.FaqVO">
		update faq set
		faq_cate=#{faq_cate,jdbcType=VARCHAR},
		faq_title=#{faq_title,jdbcType=VARCHAR}, 		
		faq_content=#{faq_content,jdbcType=VARCHAR},
		faq_date = sysdate	
		where faq_num=#{faq_num}
	</update>
	
	<delete id="faqDelete" parameterType="com.spring.community.FaqVO">
		delete from faq where faq_num = #{faq_num}
	</delete>	





</mapper>




















